<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="thiyagu.postman.com.postmanandroid">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseActivity"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/postmanicon"
        android:screenOrientation="nosensor"
        android:supportsRtl="true"
        android:theme="@style/MatterialAppTheme"
        tools:replace="android:icon">
        <activity android:name=".TestActivity">

        </activity>
        <activity android:name=".Activities.CollectionsActivity" />
        <activity
            android:name=".Activities.Splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopupActivities.ParamPopUp"
            android:label=""
            android:theme="@style/poptheme" />
        <activity
            android:name=".PopupActivities.BodyPopUp"
            android:label=""
            android:theme="@style/poptheme" />
        <activity
            android:name=".PopupActivities.HeaderPopUp"
            android:label=""
            android:theme="@style/poptheme" />
        <activity android:name=".Activities.wizard" />
        <activity android:name=".Activities.ResponseActivity" />
        <activity
            android:name=".Activities.HistoryActivity"
            android:label="History" />

        <activity
            android:name=".Activities.HistoryActivityRevamped"
            android:label="History" />
        <activity
            android:name=".Activities.BookmarkActivityRevamped"
            android:label="History" />
        <activity
            android:name=".Activities.BookmarkActivity"
            android:label="Bookmark" />
        <activity
            android:name=".Activities.ResultActivity"
            android:label="@string/title_activity_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.RequestActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/title_activity_nav_drawer_main"
            android:theme="@style/MatterialAppTheme" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".Activities.MyPreferencesActivity" />
        <activity android:name=".Activities.AboutActivity" />
        <activity android:name=".Activities.TestActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>

        <service android:name=".Services.NetChecker" />
    </application>

</manifest>